
#body{
    height: 100%;
    width: 98%;
    /* background-color: black; */
}
/* ----------Navbar Styling---------- */
#navbar{
    width:100%;
    height: 5%;
    padding-left: 16px;
    padding-right: 16px;
    /* height: 56px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
#nav-item1{
    height: 56;
    width: 169px;
    display: flex;
    align-items: center;
}
#nav-item1 i{
    padding-right: 15px;
}
#nav-item2{
    height: 40px;
    width: 710px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
#input-field{
    height: 40px;
    width: 644px;
    border: rgb(209, 208, 208) solid 1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f8f8;
}
#search-icon{
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-bar{
    border: none;
    height: 38px;
    width: 580px;
    /* border-left:rgb(209, 208, 208) solid 1px; */
    border-right: rgb(209, 208, 208) solid 1px; 
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
       /* border-radius: 20px; */
}
#nav-item3{
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-item3 img{
    border-radius: 50%;
  }
  ::placeholder{
    /* color: red; */
    padding-left: 20px;
    font-size: 16px;
  }
/* ----------Side Navbar Styling---------- */
#side-navbar{
    height: 760px;
    width: 17%;
    /* background-color: black; */
}
#side-navbar-block-1{
    height: 305px;
    width: 216px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}
#block-1-item-1{
    height: auto;
    width: auto;
    padding-bottom: 10px;
}
#block-1-item-2{
    border-top: black solid 1px ;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}
#side-navbar-block-2{
    height: 305px;
    width: 216px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#block-2-item-1{
    height: auto;
    width: auto;
    padding-bottom: 10px;
    border-top: black solid 1px;
}
#block-2-item-2{
    border-top: black solid 1px ;
    padding-bottom: 10px;
}
#side-item1{
    height: 40px;
    width: 204px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #F2F2F2; */
    /* margin-bottom: 2px; */
}
.home{
    background-color: #f2f2f2;
}
#side-items{
    display: flex;
    align-items: center;
}
#side-items svg{
    padding-left: 10px;
}
#side-items p{
    padding-left: 20px;
}

/* ----------Header Styling---------- */
#header{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    /* background-color: aqua; */
}
button{
    border: none;
    border-radius: 10px;
    padding: 8px;
    height: auto;
    width: auto;
}
#all{
    background-color: black;
    color: white;
}
/* ----------Main Body Styling---------- */
#main{
    float: right;
    height: 700px;
    width: 82%;
    /* background-color: blue; */
}
.row{
    height: 312px;
    width: 1112px;
    display: flex;
    align-items: center;
}
#card{
    height: 290px;
    /* margin: 5px; */
    width: 272px;
    /* background-color: aliceblue; */
    padding: 5px;
}
#img{
    height: 55%;
    width: 100%;
    /* background-color: black; */
}
#img img{
    height: 159.5px;
    width: 272px;
    border-radius: 10px;
}
#text{
    height: 45%;
    width: 100%;
    display: flex;
    /* background-color: rgb(177, 34, 34); */
}
#logo{
    height: 100%;
    width: 25%;
    /* background-color: blueviolet; */
}
#logo img{
    height: 46px;
    width: 46px;
    margin: 10px;
    border-radius: 50%;
}
#text-detail{
    height: 100%;
    width: 75%;
    /* background-color: rgb(163, 128, 195); */
}
#heading{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: orange; */
}
#details{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: olive; */
}
#details p{
    font-size: 15px;
    font-weight: 5;
}
