#body{
    height: 100%;
    width: 98%;
}
/* ----------Navbar Styling---------- */
#navbar{
    width: 100%;
    height: 5%;
    padding: 0px 16px;
    /* border: 2px solid red; */
}
#nav-item1{
    height: 100%;
    width: 169px;
    display: flex;
    align-items: center;
}
#nav-item1 i{
    padding-right: 15px;
}
#nav-item2{
    height: 40px;
    width: 710px;
}
#input-field{
    height: 40px;
    width: 644px;
    border: rgb(209, 208, 208) solid 1px;
    border-radius: 20px;
    background-color: #f8f8f8;
}
#search-icon{
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-bar{
    border: none;
    height: 38px;
    width: 580px;
    border-right: rgb(209, 208, 208) solid 1px; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#nav-item3{
    height: 40px;
    width: 140px;
}
#nav-item3 img{
    border-radius: 50%;
  }
  ::placeholder{
    padding-left: 20px;
    font-size: 16px;
  }
/* ----------Side Navbar Styling---------- */
#side-navbar{
    height: 760px;
    width: 17%;
}
#side-navbar-block-1{
    height: 305px;
    width: 216px;
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
#block-1-item-1{
    height: auto;
    width: auto;
    padding-bottom: 10px;
}
#block-1-item-2{
    border-top: black solid 1px ;
    padding-top: 10px;
}
#side-navbar-block-2{
    height: 305px;
    width: 216px;
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
#block-2-item-1{
    height: auto;
    width: auto;
    padding-bottom: 10px;
    border-top: black solid 1px;
}
#block-2-item-2{
    border-top: black solid 1px ;
    padding-bottom: 10px;
}
#side-item1{
    height: 40px;
    width: 204px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home{
    background-color: #f2f2f2;
}
#side-items{
    display: flex;
    align-items: center;
}
#side-items svg{
    padding-left: 10px;
}
#side-items p{
    padding-left: 20px;
}
/* ----------Header Styling---------- */
#header{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    height: 56px;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    height: auto;
    width: auto;
}
#all{
    background-color: black;
    color: white;
}
/* ----------Main Body Styling---------- */
#main{
    float: right;
    height: 700px;
    width: 82%;
}
.row{
    height: 312px;
    width: 1112px;
    display: flex;
    align-items: center;
}
#card{
    height: 290px;
    width: 272px;
    padding: 5px;
}
#img{
    height: 55%;
    width: 100%;
}
#img img{
    height: 159.5px;
    width: 272px;
    border-radius: 10px;
}
#text{
    height: 45%;
    width: 100%;
    display: flex;
}
#logo{
    height: 100%;
    width: 25%;
}
#logo img{
    height: 46px;
    width: 46px;
    margin: 10px;
    border-radius: 50%;
}
#text-detail{
    height: 100%;
    width: 75%;
}
#heading{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
#details{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
#details p{
    font-size: 15px;
    font-weight: 5;
}
/* ----------General Classes---------- */
.flex-class-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-class-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-class-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ----------Media Queries---------- */
