.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.nav-item1{
    height: 100%;
    width: 19.7%;
    display: flex;
    align-items: center;
}
.nav-item2{
    height: 100%;
    width: 60.6%;
    display: flex;
    align-items: center;
}
.nav-item3{
    height: 100%;
    width: 19.7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-item3 img{
    border-radius: 50%;
  }
.body{
    width: 100%;
    height: 655px;
    display: flex;
    flex-direction: row;
}
.body-items{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.body-item1{
    padding-left: 10px;
    height: 85%;
    width: 100%;
}
.cardList1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cardList2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.body-item2{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sideNavbar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sideNav-item1{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: rgb(185, 184, 184) solid 1px;
}
.sideNav-item2{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: rgb(185, 184, 184) solid 1px;
}
.sideNav-item3{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: rgb(185, 184, 184) solid 1px;
}
.input{
    border: rgb(209, 208, 208) solid 1px;
    border-radius: 20px;
    height: 40px;
    width: 600px;
}
.sideNav-items1{
    width: 100%;
    background-color: #E6E6E6;
    height: 25%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}
.sideNav-items2{
    width: 100%;
    background-color: #E6E6E6;
    height: 15%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}
.cardList1-items{
    height: 98%;
    width: 23%;
}
.image img{
    border-radius: 10px;
}
.image{
    width: 100%;
    height: 60%;
}
.text{
    padding-top: 10px;
    width: 100%;
    height: 40%;
}
.text-item1{
    height: 50%;
    width: 100%;
    display: flex;
}
.logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.logo img{
    border-radius: 20px;
}
.title{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}
.text-item2{
    height: 50%;
    width: 100%;
    display: flex;
}
button{
    height: 30px;
    border-radius: 10px;
    width: auto;
    border: none;
}
button:hover{
    background-color: lightgrey;
    cursor: pointer;
}